.amathon {
  padding-top: 5rem;
}

.amathon-title {
  color: #fff;
  line-height: 166%;
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-left: 7rem;
  width: 40%;
  word-break: keep-all;
  h3 {
    font-weight: 400;
  }
  @include mq($until: xlarge) {
    padding: 0 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }

}

.amathon-intro {
  color: #f90;
  line-height: 166%;
  margin: 4rem 0 0;
  padding-left: 7rem;
  width: 60%;
  @include mq($until: xlarge) {
    padding-left: 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }
}
.amathon-session {
  color: #f90;
  line-height: 166%;
  margin: 4rem 0 0;
  padding-left: 7rem;
  width: 60%;
  @include mq($until: xlarge) {
    padding-left: 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }
}

.amathon-aim {
  color: #fff;
  line-height: 166%;
  padding-left: 7rem;
  width: 60%;
  p {
    color: rgba(255, 255, 255, .8);
  }
  @include mq($until: xlarge) {
    padding-left: 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }
}

.amathon-logos {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  @include mq($until: medium) {
    display: block;
    text-align: center;
  }
  &__logo {
    margin-right: 3rem;
    &:last-of-type {
      margin-right: 0;
    }
    @include mq($until: medium) {
      margin: 0 0 3rem;
    }
    img {
      max-height: 3rem;
    }
  }
}

.amathon-schedule {
  // color: #f90;
  // line-height: 166%;
  // padding-left: 7rem;
  margin-top: 5rem;
  padding: 2rem;
  position: relative;
  width: 100%;
  h3 {
    color: rgb(255, 255, 255);
    margin: 3rem 0 1rem;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    left: 50%;
    max-width: 40rem;
    position: relative;
    transform: translateX(-50%);
    width: 100%;
    thead {
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, .7);
      th {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        padding: .75rem;
        word-break: keep-all;
      }
    }
    td {
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, .2);
      color: rgba(255, 255, 255, .8);
      font-size: .9rem;
      padding: .75rem;
      word-break: keep-all;
    }
  }
}

