.ausg {
  // background-color: #7950F2;
  padding: 0 0 15rem;
  position: relative;
}

.ausg-introduction {
  color: #fff;
  line-height: 166%;
  margin-bottom: 5rem;
  padding-left: 7rem;
  width: 40%;
  word-break: keep-all;
  @include mq($until: xlarge) {
    padding: 0 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }
}

.ausg-activities {
  color: #f90;
  line-height: 166%;
  padding-left: 7rem;
  width: 40%;
  @include mq($until: xlarge) {
    padding-left: 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }
}

.ausg-activities-background {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
  height: 17rem;
  margin-bottom: -6rem;
  position: relative;
  top: -10rem;
  width: 33%;
  z-index: -1;
  @include mq($until: medium) {
    width: 66%;
  }
}

.ausg-photo-1 {
  background-image: url('../assets/ausg-photo-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 20rem;
  position: absolute;
  right: 8rem;
  top: 3.5rem;
  width: 50%;
  // transform: translateX(3.5rem);
  @include mq($until: xlarge) {
    right: 0;
  }
  @include mq($until: medium) {
    left: 0;
    margin: 0 0 4rem;
    position: relative;
    top: 0;
    // margin-bottom: 4rem;
    width: 100%;
    // transform: translateX(-2rem);
  }
}
.ausg-photo-2 {
  background-image: url('../assets/ausg-photo-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 23.5rem;
  position: absolute;
  right: 5rem;
  top: 20rem;
  width: 40%;
  @include mq($until: xlarge) {
    right: 0;
  }
  @include mq($until: medium) {
    left: 0;
    margin-bottom: 4rem;
    position: relative;
    top: 0;
    width: 100%;
    // transform: translateX(0);
  }
}
.ausg-photo-3 {
  background-image: url('../assets/ausg-photo-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 20rem;
  left: 10rem;
  position: absolute;
  top: 40rem;
  width: 50%;
  @include mq($until: xlarge) {
    left: 4rem;
    width: 66%;
  }
  @include mq($until: medium) {
    left: 0;
    margin-bottom: 4rem;
    position: relative;
    top: 0;
    width: 100%;
    // transform: translateX(-2rem);
  }
}
