.hackathon {}
.hackathon-schedule{}

.hackathon-title{
  color: #fff;
  line-height: 166%;
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-left: 7rem;
  width: 40%;
  word-break: keep-all;
  @include mq($until: xlarge) {
    padding: 0 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }

}

.hackathon-intro {
  color: #f90;
  line-height: 166%;
  padding-left: 7rem;
  width: 60%;
  @include mq($until: xlarge) {
    padding-left: 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }
}

.hackathon-aim {
  color: #f90;
  line-height: 166%;
  padding-left: 7rem;
  width: 60%;
  @include mq($until: xlarge) {
    padding-left: 4rem;
  }
  @include mq($until: large) {
    width: 50%;
  }
  @include mq($until: medium) {
    padding: 0 2rem;
    width: 100%;
  }
}

.hackathon-schedule{
  color: #f90;
  line-height: 166%;
  padding-left: 7rem;
  width: 70%;
  @include mq($until: xlarge) {
    padding-left: 4rem;
  }
  @include mq($until: large) {
    width: 70%;
  }
  @include mq($until: medium) {
    padding: 0 3rem;
    width: 100%;
  }
}

