.top {
  align-items: center;
  // background-color: #343A40;
  display: flex;
  height: 50px;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  &__logo {
    img {
      width: 216px;
    }
  }
  &__space {
    flex: 1;
  }
  nav {
    @include mq($until: medium) {
      display: none;
    }
    a {
      color: rgba(255, 255, 255, .7);
      font-size: .85rem;
      font-weight: 500;
      margin: 0 .6rem;
      text-decoration: none;
      transition: .4s;
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  &__button {
    align-items: center;
    background: linear-gradient(#FFC153, #FFAD42);
    border-radius: .25rem;
    // color: rgb(0, 0, 0);
    display: flex;
    // font-size: .8rem;
    margin-left: 1rem;
    padding: .5rem 1.25rem;
    text-decoration: none;
    transition: box-shadow .2s;
    // text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    img {
      margin-right: .5rem;
      // width: .6rem;
      height: 1rem;
    }
    label {
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-size: .8rem;
      flex: 1;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
      white-space: nowrap;
    }
    &:hover {
      box-shadow: 0 0 0 2px rgba(255, 173, 66, .7);
    }
  }
}