@import './vendors/normalize.min';
@import './utils/variables';

@import './components/top';
@import './components/register-button';
@import './components/hero';
@import './components/awskrug';
@import './components/ausg';
@import './components/hackathon';

body {
  -webkit-font-smoothing: antialiased;
  background-color: #343a40;
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
